@page "{searcharg?}"
@model WebApp.Pages.PartialFilterSearchModel
@{
    ViewData["Title"] = "Partial String Query";
}
<h1>Partial String Query resulting in a Table display</h1>

<p>@Model.FeedbackMessage</p>

<form method="post">
    <label>
        Enter Region Name:
        <input type="text" asp-for="searcharg" placeholder="enter your region name (or part of)" />
    </label>
    <button type="submit" asp-page-handler="ByName">Fetch Regions</button>


   
    @if (Model.searcharg != null)
        if (Model.regionInfo.Count() == 0 && Model.searcharg.Length > 0)
        {
            <p style="color:firebrick;font-weight:bold">
                No region found for this name.
            </p>
        }
        else
        {
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.regionInfo)
        {
            <tr>
                <td>@item.RegionID</td>
                <td> <a href="/TerritoriesCRUD/@item.RegionID">
                        @item.RegionDescription
                    </a>
                </td>
            </tr>
        }
    </tbody>
    @* <tfoot>
        optional area
            use for summary information
                    paging
                    input of new records in a database table
    </tfoot>*@
</table>
        }

</form>